<div class="form-container">
    <h2>{{pageTitle}}</h2>

    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <label [className]="name">Nombre:</label>
            <input type="text" id="name" formControlName="name" placeholder="ej: Juan">
            @if (name?.touched) {
                @if (name?.hasError("required")) {
                    <p>El nombre es obligatorio</p>
                }
                @if (name?.hasError("minlength")) {
                    <p>El nombre debe tener como minimo 2 caracteres</p>
                }
                @if (name?.hasError("maxlength")) {
                    <p>El nombre debe tener como maximo 100 caracteres</p>
                }
            }
        </fieldset>

        <fieldset>
            <label [className]="age">Edad:</label>
            <input type="number" id="age" formControlName="age" placeholder="ej: 25">
            @if (age?.touched) {
                @if (age?.hasError("required")) {
                    <p>La edad es obligatoria</p>
                }
                @if (age?.hasError("min")) {
                    <p>La edad debe ser minimo 15</p>
                }
                @if (age?.hasError("max")) {
                    <p>La edad debe ser maximo 100</p>
                }
            }
        </fieldset>

        <fieldset>
            <label [className]="dorsal">Dorsal:</label>
            <input type="number" id="dorsal" formControlName="dorsal" placeholder="ej: 10">
             @if (dorsal?.touched) {
                @if (dorsal?.hasError("required")) {
                    <p>El dorsal es obligatorio</p>
                }
                @if (dorsal?.hasError("min")) {
                    <p>El dorsal debe ser minimo 1</p>
                }
                @if (dorsal?.hasError("max")) {
                    <p>El dorsal debe ser maximo 99</p>
                }
            }
        </fieldset>

        <fieldset>
            <label [className]="team">Equipo:</label>
            <input type="text" id="team" formControlName="team" placeholder="ej: River">
             @if (team?.touched) {
                @if (team?.hasError("required")) {
                    <p>El equipo es obligatorio</p>
                }
                @if (team?.hasError("minlength")) {
                    <p>El nombre del equipo debe tener minimo 3 caracteres</p>
                }
                @if (team?.hasError("maxlength")) {
                    <p>El nombre del equipo debe tener maximo 100 caracteres</p>
                }
            }
        </fieldset>

        <button type="submit" [disabled]="playerForm.invalid">Enviar</button>
    </form>
</div>